<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 


<div class="float-container">
    
    </div>

    <div class="float-child1">
        <h3 class="welcome3">EVANJALIN BABU</h3>
        <p class="para2">
            I'm Evanjalin Babu.I have completed my bachelor degree in Information Security and Digital Forensics from Karunya institute of technology and sciences Coimbatore Tamil Nadu, India.I am currently doing Software engineering technician(fast-track) course in Centennial college,Scarborough.I am interested in software technology from my childhood and I love to acquire knowledge in new technologies and the practical side of learning these new technologies.Other than this interest i love to travel and do adventurous activities such as skydiving,underwater diving etc.
        </p>
        <h4 class="wel3">ABOUT ME</h4>
        <h5 class="wel4">Date of Birth : 18-02-2000</h5>
        <h5 id="wel41" class="wel4">Address       : 15 Poppy Place, Scarborough, ON</h5>
      
    </div>
    <div class="float-right">
        <div class="image1"></div>
    </div>

<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 