<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 

<div class="homediv">
  <h1 class="welcome1">
    WELCOME TO MY WEBSITE!!
  </h1>
  <div class="firstdiv">
    <p class="para1">Hey there! This is my Website. My ambition is to be a good software engineer with lots of skills and hardwork makes a person reach into his/her ambition.I want to experience a lot in this information technology sector.Practice makes a person perfect,practicing a lot about it will help to acquire more knowledge on the interested feild.
      Find more about me in the <a href="about">About Me</a> Section.
    </p>
    
  </div>
  <div class="secondDiv">
        <!-- <img class="image1" src="../public/assets/images/asset1.jpeg" alt="Evanjalin Babu"/> -->
    </div>
  
</div>

  


<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 




