<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 

<h4 class="welcome4">MY PROJECTS</h4>

<div class="div4">
    <p class="para4">
        IDNhunt: Detecting IDN Homographs using Python
    </p>
</div>

<div class="div5">
    <p class="para5">
        The Internationalized Domain Name(IDN) enables us to use Unicode characters in domain names.They are handled in different ways by web browsers.This project helps the users to protect their system from virus and various harmful phising sites.The user have the tendency to click on the unwanted websites which looks same as that of the original website,this project is to prevent the users from doing this.IDNhunt helps its users to be more efficient to keep their device protected from these type of attacks.By using this type of helpful mechanisms we can efficiently keep an alert on the attacks that fraudsters try to do.
    
    </p>
</div>

<!-- <div class="div6">
    *<img class="image2" src=/*
</div> -->


<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 