<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 

<h4 class="welcome5">MY SERVICES INCLUDE</h4>

<div class="div7">
    <h3 class="welcome9">App development</h3>
    <p class="para6">
        App development is to enable the user to develop a application which will benefit lots of people for making their life easier.There are lots of tools available for this app development.
    
    </p>
</div>

<div class="div8">
    <h3 class="welcome10">Programming</h3>
    <p class="para9">
        Programming helps the users to create new technology,understand how the technology works and logical thinking.Learning programming from childhood benefits a child with lot od qualities like concentration and benefits to his/her future.
    
    </p>
</div>

<div class="div9">
    <h3 class="welcome11">Networking</h3>
    <p class="para10">
        Networking is a connection to deviler resources over a computer.A variety of industries use computer hardware and software that maintains network.

    </p>
</div>


<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 